@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss/theme";

@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-brand-dark-blue: #35383e;
  --color-brand-primary: #00adb5;
  --color-brand-dark-gray: #818181;
  --color-brand-text-gray: #9a9c9f;
  --color-brand-light-gray: #eeeeee;
  --color-brand-white: #ffffff;
  --color-brand-background: #f8f8f8;
  --color-brand-process: #ffaa04;
  --color-brand-danger: #ef4444;
  --color-brand-border: #e6f7f8;
  --color-brand-border: #ececec;
}

body {
  @apply bg-brand-background;
  font-family: "Outfit", sans-serif;
}
